{% extends "common/base.html" %}

{% block body %}

    <div class="container rounded bg-secondary mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ userSetting.profile_picture.url}}"></div>
            </div>
            <div class="col-md-8 border-right justify-content-center ">
                <div class="p-3 py-5 justify-content-center">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <h4 class="text-right">{{ user.first_name }} {{ user.last_name }}</h4>
                    </div>
                    <div class="row mt-2 ">
                        <div class="col-md-6 "><p class="labels"> <span class="fw-bold text-dark">Email: </span> {{ user.email }}</p></div>
                        <div class="col-md-12"><p class="labels"><span class="fw-bold text-dark">Phone: </span> (203) 777-1111</p></div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-12"><p class="labels"><span class="fw-bold text-dark">Address: </span> 104 Long Street Rd</p></div>
                        <div class="col-md-12"><p class="labels"><span class="fw-bold text-dark">State: </span> New York,06776</p></div>
                        <div class="col-md-12"><p class="labels"><span class="fw-bold text-dark">Education: </span> {{ userSetting.education }}</p></div>
                        <div class="col-md-12"><p class="labels"><span class="fw-bold text-dark">Preferred Theme: </span> {{ userSetting.theme }}</p></div>

                        <div class="col-md-6"><p class="labels"><span class="fw-bold text-dark">Last Login: </span> {{ user.last_login}}</p></div>


                    </div>
                    <div class="mt-5 text-center"><a href="{% url 'edit_profile' user.id %}" class="btn btn-warning profile-button" type="button">Edit Profile</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}