{% extends "common/base.html" %}



{% block body %}
    <div class="container-fluid  ">

        <div class="row rounded-1 shadow-lg m-3">
            <h1 id='id-header'class="display-1 text-center fw-semibold ">Dasboard</h1>
        </div>
        
        <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>

        {% comment %} <div class="row m-1">

            <div class="col-lg-6  rounded-1 shadow-lg p-4 me-3">
                <p class=" fs-3 text-center">Up coming Presentations </p>

                <div class="card w-100%  m-1" >
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">Todo App</a></h6>
                        <small class="card-text  d-inline">Nov. 16, 2022</small>
                        <p class="card-text fw-bold ">by Jaden Smith</p>
                    </div>
                </div>

                <div class="card w-100%  m-1" >
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">2022 Survey Monkey App </a></h6>
                        <small class="card-text  d-inline">Nov. 17, 2022</small>
                        <p class="card-text fw-bold ">by Dr. Yusuf Smith</p>
                    </div>
                </div>

                <div class="card w-100%  m-1" >
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">Speech Thearaphy Monkey App </a></h6>
                        <small class="card-text  d-inline">Nov. 20, 2022</small>
                        <p class="card-text fw-bold ">by Dr. Jean-Robin-du-bois Digornio</p>
                    </div>
                </div>

                <div class="card w-100%  m-1" >
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">Shamir's Secret Sharing Encryption Overview</a></h6>
                        <small class="card-text  d-inline">Nov. 25, 2022</small>
                        <p class="card-text fw-bold ">by Dr. Yusuf Smith</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-5 rounded-1 shadow-lg p-4 align-items-ends">
                <p class=" fs-3 text-center">My Most Recent Reviews </p>

                <div class="card w-100%  m-1" >
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">The world in My Pocket</a></h6>
                        <p class="card-text fw-bold d-inline">John Smith</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">Great Job on that presentation, Keep up psum is no in a piece oterature from 45 BC, making it over 2000 years old. Richard McClintock,tur, </p>
                    </div>
                </div>

                <div class="card w-100%  m-1" >
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">The world in My Pocket</a></h6>
                        <p class="card-text fw-bold d-inline">Jaden Smith</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. Itrature from 45 BC, making it over 2000 years old. Richard McClintock,tur, </p>
                    </div>
                </div>


                <div class="card w-100%  m-1" >
                    <div class="card-body">
                        <h6 class="card-title"><a href="#">The world in My Pocket</a></h6>
                        <p class="card-text fw-bold d-inline">Giovanni Smith</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">m 45 BC, making it over 2000 years old. Richard McClintock,tur, </p>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
    </div>

    
{% endblock %}


