{% extends "common/base.html" %}
{%  load static %}


{% block body %}
    <div class="row mx-auto" >

        <div class="row rounded-1 shadow-lg m-3 ">

            <h5> Are you sure you want to delete <span style="color:red">{{ presentation.pres_name }}</span> ?</h5>
            <div class="col-10 mx-auto my-4">
                <form class="card-link" action="{%  url 'delete_presentation' presentation.id %}" method="post">
                    <div class="card" style="width:80%;">
                        {% if  presentation.pres_image.url %}
                            <img src="{{ presentation.pres_image.url}}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{% static 'img/profile_default.png' %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ presentation.pres_name}}</h5>
                            <p class="card-text">{{ presentation.pres_description}}</p>

                            <a href="{% url 'presentations' presentation.id %}" class="card-link btn btn-secondary">Cancel</a>
                            {% csrf_token %}
                            <input class=" card-link btn btn-danger d-inline" type="submit" value="Delete" href="{% url 'delete_presentation' presentation.id %}">
                        </div>
                    </div> </form>
            </div>

        </div>
    </div>
    </div>



{% endblock %}