{% extends "common/base.html" %}



{% block body %}
    <div class="row " >
        <h1 class="text-center my-4">{{ presentations.pres_name}}</h1>
        <div class="col-12 mx-auto">
            <div class="card" style="width:80%;">
                <img src="{{ presentations.pres_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ presentations.pres_name}}</h5>
                    <p class="card-text">{{ presentations.pres_description}}</p>
                    {#                    <a href="#" class="btn btn-primary">Go somewhere</a>#}
                </div>
            </div>

        </div>
        <div class="col-12 ">

            <div class="col-lg-6 mx-auto my-4 form-group">
                <h3 class=" my-4 text-center"> Submit an Evaluation</h3>
                <form action="" method="post">


                    <div class="mb-3S">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for answers, question in question_answer_list %}
                            <label class="form-label"> {{ question }}</label>
                            {% for form in answers %}
                                <div>{{ form }}</div>
                            {% endfor %}
                        {% endfor %}


                        <input type="submit" class="btn btn-primary" value="Review">
                    </div>
                </form>

            </div>
        </div>


    </div>


    </div>







{% endblock %}