{% extends "common/base.html" %}



{% block body %}
    <div class="row mx-auto" >
        <h1 class="text-center my-4">{{ presentations.pres_name}}</h1>
        <div class="col-lg-7 mx-3">
            <div class="card" style="width:80%;">
                <img src="{{ presentations.pres_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ presentations.pres_name}}</h5>
                    <p class="card-text">{{ presentations.pres_description}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col-4">
            <h1 class=" my-4"> Submit an Evaluation</h1>
            <div class="col-lg-6">
                <form action="" method="post">
                    {{ form }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Review">
                </form>

            </div>
        </div>


    </div>

      
    </div>







{% endblock %}