{% extends "common/base.html" %}
{%  load static %}



{% block body %}
    <div class="row " >
        <h1 class="text-center my-4">{{ presentation.pres_name}}</h1>
        <hr style="color: #18d26e">
        <div class="col-lg-5 mx-auto my-4  rounded-1 shadow-lg">
            <div class="card" style="width:80%;">
                {% if presentations.pres_image %}
                    <img src="{{ presentations.pres_image.url}}" class="card-img-top" alt="..." >
                {% else %}
                    <img src="{% static 'img/profile_default.png' %}" class="card-img-top" alt="..." >
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ presentation.pres_name}}</h5>
                    <hr style="color: #18d26e">
                    <p class="card-text">{{ presentation.pres_description}}</p>

                    <hr style="color: #18d26e">
                    <p class="card-text">Owner: <span class="fw-bold">{{ presentation.owner}}</span> </p>
                    {#                    <a href="#" class="btn btn-primary">Go somewhere</a>#}
                </div>
            </div>
        </div>
        {#    Form section #}
        <div class="col-lg-5 mx-auto my-4 p-3 form-group rounded-1 shadow-lg">
            <h3 class=" my-4 text-center"> Peer Evaluation</h3>
            <form action="" method="post">


                <div class="mb-3S">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for answers, question in question_answer_list %}
                        <label class="form-label "> {{ question }}</label>
                        {% for form in answers %}
                            <div>{{ form }}</div>
                        {% endfor %}
                    {% endfor %}

                    <br>
                    <input type="submit" class="btn btn-primary" value="Review">
                </div>
            </form>

        </div>

    </div>







{% endblock %}