
#id-body,#id-recent-view-container{
   background-color:#012e45 !important
}
#id-nav,.card, .card-body{
    background-color: #000b11 !important;
}

p,h1,h2,h3,h4,h5{
    color: white;
}
a{
    color: #00a2ff !important;
}
small{
    color: aqua ;
 }
.small-text-descriptions{
    color: white !important;
}

.border-color{
    border-color: #001621 !important;
}

/* Rating stars */
.checked {
    color: yellow;
}

 /*Form Style */
 .form-label{
     color: #ffffff !important;
 }


  .text-paragraph{
     color:white !important;
 }