
.must-be-hidden{
    display: none !important;
}

/*#barchart_values{*/
/*    width: 100% !important;*/
/*    height: 35% !important;*/

/*}*/

.errorlist{
    color: red !important;
}
#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}

#stage-detail{
    display: none !important;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
    #stage-detail{
        display: inline !important;
    }
    #readmore-text{
        display: none !important;
    }
}

.modal-content{
       background-color:aqua !important;

}