{% extends "common/base.html" %}



{% block body %}


    <div class="row">
        <p class="  display-5 text-center mb-3">STAGE <i class="fa-solid fa-tent"></i></p>
    </div>

    <ul class="nav nav-pills my-3 flex-column justify-content-center flex-sm-row" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Stages</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Views</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">My Review</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">My Review</button>
        </li>
        <form class="d-flex " role="search">
            <input class="form-control me-2 w-70%" type="search" placeholder="Search" aria-label="Search">
        </form>
    </ul>



    <div class="tab-content my-3" id="pills-tabContent">

        <div class="tab-pane fade show active my-3" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="rounded-1  p-4">
                {% for stage in Stages %}
                    <div class="card w-100%  my-2" >
                        <div class="card-body">
                            <h6 class="card-title"><a href="{% url 'detail_stage' stage.id %}">{{ stage.stage_name}}</a></h6>
                            <hr style="color: #18d26e">
                            <small class="card-text  text-left d-inline">Last Updated: {{ stage.updated_at}}</small><br>
                            <small class="card-text  d-inline">Presentations : <span>10</span> </small><br>


                            <small class="small-text-descriptions"> {{ stage.stage_description }} </small>


                            <p class="card-text">owner: <span class="card-text fw-bold text-primary ">{{ stage.user}}</span>  </p>
                            <a class="btn btn-primary " href="{% url 'update_stage' stage.id %}"> Edit </a>
                            <a class="btn btn-danger " href="{% url 'delete_stage' stage.id %}"> Delete </a>




                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

        </div>




        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            <p>This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</p>
        </div>
        <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
            <p>This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</p>
        </div>
    </div>


{% endblock%}