{% extends "common/base.html" %}



{% block body %}
    <div class="row mx-auto" >
        <h1 class="text-center my-4">{{ stage.stage_name}} </h1>

        <div class="col-lg-5 mx-3">
            <div class="card" style="width:80%;">
                <img src="{{ stage.Stage_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ stage.stage_name}}</h5>
                    <p class="card-text">{{ stage.stage_description}}</p>
                    <a href="#" class="btn btn-primary">Presentation Approval </a>
                </div>
            </div>

        </div>


        <div class="col-lg-6 my-4">
            <table class="table  table-striped table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Presentations</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>

                </tr>
                </thead>
                <tbody class="table-hover ">
                {% for pres in presentations %}
                    <tr>
                        <th scope="row"><a href="{% url 'detail_presentation' pres.id %}">{{ pres.pres_name }} </a></th>
                        <td>{{ pres.type }}</td>
                        <td>{{ pres.owner }}</td>
                        <td>{{ pres.created_at }}</td>
                        <td><a href="#">#</a></td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>



    <h1></h1>



    <h1 class="text-center">Presentations</h1>


{% endblock %}