{% extends "main/../common/base.html" %}



{% block body %}
    <p class="  display-5 text-center mb-3">ADMIN  APPROVAL <i class="fa-solid fa-person-chalkboard"></i></p>
    <div class="tab-pane mx-auto fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="row mx-auto" >
            <h4 class=" text-center mt-5">Update approval for <strong>{{ presentation.pres_name}}</strong></h4>

            <div class="col-8 mx-auto rounded-1 p-3 shadow-lg my-3">
                <div class="mb-3">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ presentation_form.as_p }}

                        <input type="submit" class="btn btn-primary" value={{ btn_value }}>
                    </form>

                </div>

            </div>
        </div>
    </div>




    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        <h5 class="text-center mb-5">AVAILABLE STAGES</h5>
        <div class="row ">
            <div class="col-8 mx-auto">
                <form class="d-flex " role="search">
                    <input class="form-control me-2 w-50%" type="search" placeholder="Search for available stages" aria-label="Search">
                    <a href="{% url 'stage' %}">Create a Stages</a>
                </form>
                <div class="rounded-1  p-4">

                    <div class="card w-100%  my-2" >
                        <div class="card-body">
                            <h6 class="card-title"><a href="#">CS 416 section 01 </a></h6>
                            <small class="card-text  d-inline">Nov. 16, 2022</small><br>
                            <small class="card-text  d-inline">Presentations : <span>10</span> </small><br>
                            <small class="small-text-descriptions">Final project presentation Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquam doloribus eligendi esse hic minima placeat quae quas totam. Eum incidunt iste nemo placeat provident quaerat quasi quis voluptas! </small>
                            <p class="card-text fw-bold ">Albayram, Yusuf (Stage Owner)</p>
                        </div>
                    </div>

                    <div class="card w-100%  my-2" >
                        <div class="card-body">
                            <h6 class="card-title"><a href="#">CS 416 section 20 </a></h6>
                            <small class="card-text  d-inline">Nov. 4, 2022</small><br>
                            <small class="card-text  d-inline">Presentations : <span>50</span> </small><br>
                            <small class="small-text-descriptions">Final project presentation Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquam doloribus eligendi esse hic minima placeat quae quas totam. Eum incidunt iste nemo placeat provident quaerat quasi quis voluptas! </small>
                            <p class="card-text fw-bold ">Williams, Chad (Stage Owner)</p>
                        </div>
                    </div>

                    <div class="card w-100%  my-2" >
                        <div class="card-body">
                            <h6 class="card-title"><a href="#">CS 410 section 01 </a></h6>
                            <small class="card-text  d-inline">Nov. 6, 2022</small><br>
                            <small class="card-text  d-inline">Presentations : <span>15</span> </small><br>
                            <small class="small-text-descriptions">Final project presentation Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquam doloribus eligendi esse hic minima placeat quae quas totam. Eum incidunt iste nemo placeat provident quaerat quasi quis voluptas! </small>
                            <p class="card-text fw-bold ">Albayram, Yusuf (Stage Owner)</p>
                        </div>
                    </div>

                    <div class="card w-100%  my-2" >
                        <div class="card-body">
                            <h6 class="card-title"><a href="#">CS Club General Meetings </a></h6>
                            <small class="card-text  d-inline">Nov. 5, 2022</small><br>
                            <small class="card-text  d-inline">Presentations : <span>2</span> </small><br>
                            <small class="small-text-descriptions">Final project presentation Lorem ipsum dolor loren loren sit amet, consectetur adipisicing elit. Ab accusantium aliquam doloribus eligendi esse hic minima placeat quae quas totam. Eum incidunt iste nemo placeat provident qua minima placeat quae quas totam. Eum incidunt iste nemo placeat provident qua minima placeat quae quas totam. Eum incidunt iste nemo placeat provident qua minima placeat quae quas totam. Eum incidunt iste nemo placeat provident quaerat quasi quis voluptas! </loren> </small>
                            <p class="card-text fw-bold ">Giovanni T., (Stage Owner)</p>

                        </div>
                    </div>

                    <div class="card w-100%  my-2" >
                        <div class="card-body">
                            <h6 class="card-title"><a href="#">CT Public School VP</a></h6>
                            <small class="card-text  d-inline">Nov. 5, 2025</small><br>
                            <small class="card-text  d-inline">Presentations : <span>1</span> </small><br>
                            <small class="small-text-descriptions">Final project presentation Lorem ipsum dolor loren loren sit amet, consectetur adipisicing elit. Ab accusantium aliquam doloribus eligendi esse hic minima placeat quae quas totam. Eum incidunt iste nemo placeat provident qua minima placeat quae quas totam. Eum incidunt iste nemo placeat provident qua minima placeat quae quas totam. Eum incidunt iste nemo placeat provident qua minima placeat quae quas totam. Eum incidunt iste nemo placeat provident quaerat quasi quis voluptas! </loren> </small>
                            <p class="card-text fw-bold ">smith John, (Stage Owner)</p>

                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>



    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
    </div>






{% endblock%}