{% extends "common/base.html" %}



{% block body %}
    <div class="row mx-auto" >

        <div class="col-5 mx-3">
            <div class="card" style="width:80%;">
                <img src="{{ stage.Stage_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ stage.stage_name}}</h5>
                    <p class="card-text">{{ stage.stage_description}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>


        <div class="col-6">
            <table class="table  table-striped table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Presentations</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Approve</th>
                </tr>
                </thead>
                <tbody class="table-hover ">
                {% for pres in presentations %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{ pres.type }}</td>
                        <td>{{ pres.pres_owner }}</td>
                        <td>{{ pres.created_at }}</td>
                        <td>{{ pres.approval }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>



    <h1></h1>



    <h1 class="text-center">Presentations</h1>


{% endblock %}